/**
 * 
 * This is style file for the Aria-Delta theme.
 * Author: Hamza Nawabi 
 * Date: 2025-02-16
 * Link: https://cdn.jsdelivr.net/gh/Nawabi-Hamza/CDN/Aria-Delta/css/main.css
 * 
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #056da0;
    /* --secondary-color:rgba(0, 0, 0, 0.83); */
    --secondary-color: rgb(2, 34, 49);
    --sidebar-text: blue;
}
/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color);
    cursor: pointer;
}

/* G-Translate Button*/
.gt_selector {
    border-radius: 4px;
    border: 1px solid white;
    background: white;
    padding: .2em;
    color: var(--primary-text-color);
    cursor: pointer;
    > option:checked{
        color:white;
    }
}
/* Notification */
.notifictaion-popup{
    position: absolute;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    right: 10px;
    display: none;
    border-radius: .2em;
    z-index: 3;
}
.notification-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.notification-content{
    > h6{
        font-size: 15px;
        margin: 0;
    }
    > p{
        font-size: 12px;
        margin: 0;
    }
}
/* Change "info" color for tables */
.table-info {
    --bs-table-bg: var(--primary-color) !important;
    --bs-table-border-color: var(--primary-color) !important;
    --bs-table-striped-bg: var(--primary-color) !important;
    --bs-table-hover-bg: var(--primary-color) !important;
    color: white !important;
    > tr th{
        color: white !important;
    }
}

/* Custom Outline Info Button */
.btn-outline-info {
    --bs-btn-color: var(--primary-color) !important; /* Text color */
    --bs-btn-border-color: var(--primary-color) !important; /* Border color */
    --bs-btn-hover-bg: var(--primary-color) !important; /* Background color on hover */
    --bs-btn-hover-border-color: var(--primary-color) !important; /* Border color on hover */
    --bs-btn-hover-color: white !important; /* Text color on hover */
    --bs-btn-active-bg:var(--primary-color) !important; /* Background when clicked */
    --bs-btn-active-border-color: var(--primary-color) !important; /* Border when clicked */
}
/* Custom Solid Info Button */
.btn-info {
    --bs-btn-bg: var(--primary-color) !important; /* Background color */
    --bs-btn-border-color: var(--primary-color) !important; /* Border color */
    --bs-btn-color: white !important; /* Text color */
    --bs-btn-hover-bg: darken(var(--primary-color), 10%) !important; /* Darker on hover */
    --bs-btn-hover-border-color: darken(var(--primary-color), 10%) !important;
    --bs-btn-hover-color: var(--primary-color) !important; /* Keep text white on hover */
    --bs-btn-active-bg: darken(var(--primary-color), 15%) !important; /* Darker when clicked */
    --bs-btn-active-border-color: darken(var(--primary-color), 15%) !important;
    
}

.bg--primary{
    background-color: var(--primary-color);
}
.text--primary{
    color: var(--primary-color) !important;
}
.text--secondary{
    color: var(--secondary-color) !important;
}
.bg--secondary{
    background-color: var(--secondary-color);
}
.custom-shadow-0{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  
}
.custom-shadow-34{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.custom-shadow-84{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.custom-shadow-95{
    box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;
}
h1{
    font-size: 2em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.17em;
}
h4{
    font-size: 1em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--secondary-color);
}
body{
    max-height: 100vh;
    overflow: hidden;
    font-family: Arial;
}
table th,
table td{
    text-wrap: nowrap;
    align-content: center;
}
table img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.title-form{
    border-bottom: 2px solid var(--primary-color);
    margin: 2em 0;
    > h5{
        color: var(--primary-color);

    }
}
.form-label{
    font-weight: bold;
}
.main-section{
    height: 95vh;
    > aside{
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        > .side-bar{
            width: 90%;
            background: var(--secondary-color);
            box-shadow: 0 0 12px #333;
            height: 95%;
            border-radius: 0 0 .6em .6em; 
            overflow-y: auto;
            > .side-item{
                display: flex;
                align-items: center;
                > a {
                    transition: .5s;
                    padding: .8em 2em;
                    text-decoration: none;
                    color: white;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    gap: .5em;
                }
            }
        }
    }
    > main{
        width: 80%;
        overflow-y: auto;
    }
}
.navbar-text,
.side-bar .side-item a{
    color: var(--sidebar-text) !important; 
}
.divider{
    border-bottom: 2px solid var(--sidebar-text);
    padding: 0 10px 5px 10px;
    color: var(--sidebar-text);
    opacity: .7;
}
.side-item a:hover{
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--secondary-color);
}
.wizardbar{
    width: 300px;
    position: absolute;
    top: 95px;
    right: -300px;
    bottom: 0;
    z-index: 9;
    background-color: white;
    padding: .2em;
    cursor: pointer;
    transition: .4s;
}
.border--primary{
    border-color: var(--primary-color) !important;
}
/* Responsive for size 1200px screen */
@media only screen and (max-width: 1200px){
    .divider{
        display: none;
    }
    .main-section{
        > aside{
            width: 5%;
            > .side-bar{
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            .navbar-nav .side-item a{
                padding: .8em;
                text-align: center;
            }
            .navbar-nav .side-item span:nth-child(2){
                display: none;
            }
        }
        > main{
            width: 90%;
            overflow-y: auto;
        }
    }
}
/* Responsive for screen size 900px */
@media only screen and (max-width: 900px){
    h1{
        font-size: 1.5em;
    }
    h2{
        font-size: 1em;
    }
    h3{
        font-size: .7em;
    }
    h4{
        font-size: .5em;
    }
    .active{
        border-radius:0 !important;
        margin: 0px !important;
    }
    .main-section{
        > aside{
            width: 10%;
            > .side-bar{
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
            > .navbar-nav .side-item a{
                padding: .5em;
                display: flex;
                justify-content: center;
            }
            > .navbar-nav .side-item a span:nth-child(2){
                display: none;
            }
        }
        > main{
            width: 90%;
        }
    }
}

.alert-container{
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 9;
    max-width: 500px;
    > .alert {
        display: none;
    }
}


.active{
    background-color: var(--primary-color);
    /* color: var(--primary-color) !important; */
    border-radius: .5em !important;
    margin: 10px;
}